body {text-align:center; background-color:#b0e6e6;}
h1   {color:#0000ff; font:bold 50px Georgia, serif; text-decoration:underline overline;}
h2   {color:#0000ff; font:bold 30px Georgia, serif;}
p    {color:#000; font:20px Candara, serif; margin: 10px 10% 10px 10%;}
button {text-align:center; background-color:#0000ff; color:#ffffff; font-size:20px;}
img {max-width:100%; max-height:100%;}
